apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.ingress.name }}
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host:
    http:
      paths:
      {{- range .Values.ingress.paths }}
      - path: {{ .backend.path }}
        pathType: Prefix
        backend:
          service:
            name: {{ .backend.service.name | quote}}
            port:
              number: {{ .backend.service.port_number }}
      {{- end}}
